h1{
    font-family: 'Montserrat-black';
    size: 3.5rem;
    line-height: 2.5;

}
body{
    font-family: "Montserrat";
}
h3{
    font-family: 'Montserrat-Bold';
    size: 1.5rem;
    line-height: 1.5;
}
p{
    color: #8f8f8f;
    size: 1.5rem;
    line-height: 2.5;
     
}
h2{
    font-family: 'Montserrat_Bold';
    size: 3.5rem;
    line-height: 1.5;

}
.title-h1{
    font-family: 'Montserrat-black';
    font-size:xx-large;
    line-height: 2.5;
    padding: 20px 10px;
}








/* title */
#title{
    font-family: 'Montserrat-Bold';
    
    background-color: #ff4c68;
    color: whitesmoke;
   
   
}
.mockup{
   
    width: 40%;
    transform: rotate(25deg);
    position: relative;
    top: 210px;
   

    
   


 
}
.feature-container{
 padding: 3% 15% ;
 
}
/* download button */
.download-button{
 margin: 10% 3% 5% 0;

}






/* navbar brand */
.navbar-brand{

    font-family: "Ubuntu";
    font-size: 0 0 2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
   padding: 0 15px ;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}





 /* Features  */
 #features{
   
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
    
   
   
 }
 .icon{
    color: #ef8172;
    
    margin:0 0 10px 0;
 }
 .icon:hover{
    color: #ff4c68;
 }
 .feature-box{
    text-align: center;
    padding: 5%;

 }


 /* Testimonials  */

 #testimonials{
  background-color:#ff4c68;
  
  text-align: center;
  color: whitesmoke;

}
.carousel-item{
    padding: 7% 15%;

}
.dog-img{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    text-align: center;
    background-color: #ff4c68;
   padding-bottom: 5%;
}
.press-logo{
    width: 13%;
    margin: 20px 20px 15px;

}


/* Pricing  */
#pricing{

    padding: 100px;
    text-align: center;
}
.pricing-coloum{
    padding: 3%;
}

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .mockup{
        position: static;
        transform: rotate(0);
    }
}


/* cta */
#cta{
    background-color: #ff4c68;
    text-align: center;
    color: whitesmoke;
    padding: 7% 15%;
   
}
.cta-h3{
    font-family: 'Montserrat-black';
    size: 1.5rem;
    line-height: 1.5;
    font-size: 3.5rem;
   
    




}


/* footer */
#footer{
    padding: 7% 15%;
    text-align: center;
}
.footer-icon{
    margin: 1%;
}